body {
    background: black;
    width: 100%;
    height: 100vh;
    
    
}

#intro {
    text-align: center;
    color: white;
}




.profile img {
    display: block; 
    float:right;
    height: 100vh;
    width: 50%;
  

}

